html {
    background-image: url(images/cyberpunk-bg.gif);
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 { 
    color: white;
    text-align: center;
    font-style: "Lucida Console", "Courier New", monospace;
}

.links {
    text-align: center;
    background-color: rgba(154, 85, 185, 0.356);
    border: 3px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.section {
    flex: 1;
}

#box {
    background-color: rgba(0,0,0,75%);
    border: 1px solid white;
    padding-left: 17.5%;
    padding-right: 17.5%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}

#box-text {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

#link-buttons {
    background-color: rgba(151, 50, 160, 0.301);
    border: black solid;
    color: white;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 6px;
    cursor: pointer;
}

#blog-text {
    color: rgb(159, 111, 187);
}

#info {
    background-color: rgba(0,0,0,75%);
    text-align:center;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid pink;
}