---

import { getCollection, getEntry, render as renderPost } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/blog.css';


export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: {
      slug: post.id
    }
  }));
}

const { slug } = Astro.params;
const post = await getEntry('blog', slug);

if (!post) {
  throw new Error("Post not found");
}

const { Content } = await renderPost(post);
const posts = await getCollection('blog');
---

<BaseLayout pageTitle={post.data.title} tabTitle={post.data.title} posts={posts}>

  <div class="post-body">
    <p class="pubDate">{post.data.pubDate}</p>
    <Content />
  </div>

</BaseLayout>

