
html {
  font-family: sans-serif;
  background-color: rgb(35, 35, 35);
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: rgb(137, 70, 192);
  font-family: cursive;
}

p, ul {
  color: white;
}

/* Keyframes */
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

/* index style */
.index-body, .blog-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
}

.nav-body {
  flex-basis: 20%;
}

.main-body {
  flex-basis: 80%;
  min-width: 0;
}

.nav-link {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 8px;
  list-style: none;
  margin: 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(110, 80, 110);
}

.nav-link:visited {
  color: rgb(110, 80, 110);
}

.nav-link:hover {
  background-color: rgba(70, 70, 70, 0.5);
}

.text {
  text-align: center;
  font-size: 1.2rem;
}

#cat-face {
  font-size: 3rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#quote {
  text-align: center;
}

/* Blogs CSS */
.post-list {
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 8px;
  list-style: none;
  margin: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(110, 80, 110);
}

.post:hover {
  background-color: rgba(70, 70, 70, 0.5);
}

.post:visited {
  color: rgb(110, 80, 110);
}

@media (max-width: 800px) {

  body {
    padding: 0;
  }

  .index-body, .blog-body {
    flex-direction: column;
    margin: 0;
  }

  .block {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
