---
import BaseLayout from '../layouts/BaseLayout.astro';
import Block from '../components/Block.astro';
import '../styles/global.css';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

function capitalize(word: string) {
	return word.charAt(0).toUpperCase() + word.slice(1)
}

---

<BaseLayout pageTitle="" tabtitle="Kona's Blogs!">
  <div class="blog-body">
    <section class="nav-body">
      <Block blockTitle="Navigation">
        <nav class="navigation">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/blogs" style="margin-top: 0.5em">My Blogs</a>
        </nav>
      </Block>
    </section>

    <section class="main-body">
      <Block blockTitle="My Blogs">
        <section class="post-list">
          {allPosts.map((post: any) => <a class="post" href={post.url}>{capitalize(post.frontmatter.title)}</a>)}
        </section>
      </Block>
    </section>
  
  </div>
</BaseLayout>

