---
const { blockTitle } = Astro.props;
---

<style>

    .title {
        color: rgb(137, 70, 192);
        margin: 0;
        font-size: 2.5rem;
        text-align: center;
        font-family: cursive;
    }

    .block {
      background-color: rgba(0, 0, 0, 0.438);
      padding: 1em 1em;
      margin-left: 1em;
      margin-right: 1em;
      border: 3px solid black;
      border-radius: 20px;
      flex-wrap: nowrap;
    }

</style>

<div class="block">
    <h1 class="title">{blockTitle}</h1>
    <hr>
    <slot />
</div>
